{% extends 'base.html' %}

{% block content %}

<section class="products">

    <h2>Accessories Collection</h2>

    <div class="product-grid">

        {% for product in products %}

        <a href="{% url 'product_detail' product.id %}" class="product-card-link">

            <div class="product-card">

                <img src="{{ product.image.url }}" alt="{{ product.name }}">

                <div class="product-badge">

                    New

                </div>

                <div class="product-rating">

                    ★★★★★

                </div>

                <h3>{{ product.name }}</h3>

                <p class="product-price">

                    ₹{{ product.price }}

                </p>

                <button>

                    View Product

                </button>

            </div>

        </a>

        {% endfor %}

    </div>

</section>

{% endblock %}