{% extends 'base.html' %}

{% block content %}

<div class="profile-page">

    <div class="profile-sidebar">

        <h3>My Account</h3>

        <ul>

            <li>
                <a href="{% url 'profile' %}">
                    Profile
                </a>
            </li>

            <li>
                <a href="{% url 'my_orders' %}">
                    My Orders
                </a>
            </li>

            <li>
                <a href="{% url 'addresses' %}">
                    Addresses
                </a>
            </li>

            <li>
                <a href="{% url 'payment_methods' %}">
                    Payment Methods
                </a>
            </li>

            <li>
                <a href="{% url 'logout' %}">
                    Logout
                </a>
            </li>

        </ul>

    </div>

    <div class="profile-content">

        <h2>Payment Methods</h2>

        <hr><br>

        <div class="payment-card">

            <h3>💵 Cash On Delivery</h3>

            <p>
                Available
            </p>

        </div>

        <div class="payment-card">

            <h3>💳 Credit / Debit Card</h3>

            <p>
                Coming Soon
            </p>

        </div>

        <div class="payment-card">

            <h3>📱 UPI</h3>

            <p>
                Coming Soon
            </p>

        </div>

    </div>

</div>

{% endblock %}