{% extends 'base.html' %}

{% block content %}

<section class="about-page">

    <div class="about-container">

        <h1>Terms & Conditions</h1>

        <p class="about-intro">

            By using Vastra, you agree to comply with these terms and
            conditions.

        </p>

        <div class="about-card">

            <h2>Use of Website</h2>

            <p>

                You agree to use this website responsibly and not engage in
                any activity that may harm the website or its users.

            </p>

        </div>

        <br>

        <div class="about-card">

            <h2>Orders</h2>

            <p>

                All orders are subject to availability. We reserve the right
                to cancel or refuse any order if necessary.

            </p>

        </div>

        <br>

        <div class="about-card">

            <h2>Pricing</h2>

            <p>

                Product prices may change without prior notice.

            </p>

        </div>

        <br>

        <div class="about-card">

            <h2>Changes</h2>

            <p>

                Vastra reserves the right to modify these terms at any time.

            </p>

        </div>

    </div>

</section>

{% endblock %}